<?xml version="1.0"?>
<config>
    <modules>
        <Webgriffe_Golive>
            <version>0.1.0</version>
        </Webgriffe_Golive>
    </modules>
    <global>
        <helpers>
            <webgriffe_golive>
                <class>Webgriffe_Golive_Helper</class>
            </webgriffe_golive>
        </helpers>
        <models>
            <webgriffe_golive>
                <class>Webgriffe_Golive_Model</class>
            </webgriffe_golive>
        </models>
    </global>
    <default>
        <dev>
            <log>
                <webgriffe_golive_active>1</webgriffe_golive_active>
            </log>
        </dev>
        <webgriffe_golive>
            <checkers>
                <config_general_web_unsecure_base_url>
                    <disabled>0</disabled>
                    <name><![CDATA[Unsecure Base URL]]></name>
                    <description><![CDATA[]]></description>
                    <default_severity>error</default_severity>
                    <class>webgriffe_golive/checker_config_unsecureBaseUrl</class>
                </config_general_web_unsecure_base_url>
                <config_general_web_secure_base_url>
                    <disabled>0</disabled>
                    <name><![CDATA[Secure Base URL]]></name>
                    <description><![CDATA[]]></description>
                    <default_severity>error</default_severity>
                    <class>webgriffe_golive/checker_config_secureBaseUrl</class>
                </config_general_web_secure_base_url>
                <design_root_favicon>
                    <disabled>0</disabled>
                    <name><![CDATA[Root Favicon]]></name>
                    <description><![CDATA[Root Favicon on File System]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_design_rootFavicon</class>
                    <!--
                        Value calculated on Magento v 1.8.1.0;
                        it's recommended to update value on different version.
                        To obtain the md5sum of a file, run the command:
                        $ md5sum <filename>
                     -->
                    <md5sum><![CDATA[88733ee53676a47fc354a61c32516e82]]></md5sum>
                </design_root_favicon>
                <design_theme_favicon>
                    <disabled>0</disabled>
                    <name><![CDATA[Theme Favicon]]></name>
                    <description><![CDATA[Theme Favicon on File System]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_design_themeFavicon</class>
                    <!--
                        Value calculated on Magento v 1.8.1.0;
                        it's recommended to update value on different version.
                        To obtain the md5sum of a file, run the command:
                        $ md5sum <filename>
                     -->
                    <md5sum><![CDATA[88733ee53676a47fc354a61c32516e82]]></md5sum>
                </design_theme_favicon>
                <html_head_default_title>
                    <disabled>0</disabled>
                    <name><![CDATA[HTML Head Default Title]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Design > HTML Head > Default Title]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[design/head/default_title]]></xml_config_path>
                    <default_config_value><![CDATA[Magento Commerce]]></default_config_value>
                </html_head_default_title>
                <html_head_default_description>
                    <disabled>0</disabled>
                    <name><![CDATA[HTML Head Default Description]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Design > HTML Head > Default Description]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[design/head/default_description]]></xml_config_path>
                    <default_config_value><![CDATA[Default Description]]></default_config_value>
                </html_head_default_description>
                <html_head_default_keywords>
                    <disabled>0</disabled>
                    <name><![CDATA[HTML Head Default Keywords]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Design > HTML Head > Default Keywords]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[design/head/default_keywords]]></xml_config_path>
                    <default_config_value><![CDATA[Magento, Varien, E-commerce]]></default_config_value>
                </html_head_default_keywords>
                <html_head_default_robots>
                    <disabled>0</disabled>
                    <name><![CDATA[HTML Head Default Robots]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Design > HTML Head > Default Robots]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[design/head/default_robots]]></xml_config_path>
                    <default_config_value><![CDATA[INDEX,FOLLOW]]></default_config_value>
                    <fault_operand>neq</fault_operand>
                </html_head_default_robots>
                <html_head_demo_notice>
                    <disabled>0</disabled>
                    <name><![CDATA[HTML Head Demo Notice]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Design > HTML Head > Display Demo Store Notice]]></description>
                    <default_severity>error</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[design/head/demonotice]]></xml_config_path>
                    <default_config_value><![CDATA[1]]></default_config_value>
                </html_head_demo_notice>
                <design_image_placeholder>
                    <disabled>0</disabled>
                    <name><![CDATA[Image Placeholder]]></name>
                    <description><![CDATA[Image Placeholder on File System]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_design_imagePlaceholder</class>
                    <!--
                        Value calculated on Magento v 1.8.1.0;
                        it's recommended to update value on different version.
                        To obtain the md5sum of a file, run the command:
                        $ md5sum <filename>
                     -->
                    <md5sum><![CDATA[097ab8a3051bc037ea3de0e17f440540]]></md5sum>
                </design_image_placeholder>
                <design_smallimage_placeholder>
                    <disabled>0</disabled>
                    <name><![CDATA[Small Image Placeholder]]></name>
                    <description><![CDATA[Small Image Placeholder on File System]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_design_SmallimagePlaceholder</class>
                    <!--
                        Value calculated on Magento v 1.8.1.0;
                        it's recommended to update value on different version.
                        To obtain the md5sum of a file, run the command:
                        $ md5sum <filename>
                     -->
                    <md5sum><![CDATA[f825d16f97a640453553c79c48ebaa73]]></md5sum>
                </design_smallimage_placeholder>
                <design_thumbnail_placeholder>
                    <disabled>0</disabled>
                    <name><![CDATA[Thumbnail Placeholder]]></name>
                    <description><![CDATA[Thumbnail Placeholder on File System]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_design_ThumbnailPlaceholder</class>
                    <!--
                        Value calculated on Magento v 1.8.1.0;
                        it's recommended to update value on different version.
                        To obtain the md5sum of a file, run the command:
                        $ md5sum <filename>
                     -->
                    <md5sum><![CDATA[b2b682d28a08a748a73d2cda70ab5a57]]></md5sum>
                </design_thumbnail_placeholder>
                <store_info_address>
                    <disabled>0</disabled>
                    <name><![CDATA[Store Information Contact Address]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > General > Store Information > Store Contact Address]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[general/store_information/address]]></xml_config_path>
                    <default_config_value><![CDATA[]]></default_config_value>
                </store_info_address>
                <store_info_country>
                    <disabled>0</disabled>
                    <name><![CDATA[Store Information Country]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > General > Store Information > Country]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[general/store_information/merchant_country]]></xml_config_path>
                    <default_config_value><![CDATA[]]></default_config_value>
                </store_info_country>
                <store_info_vatnumber>
                    <disabled>0</disabled>
                    <name><![CDATA[Store Information VAT Number]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > General > Store Information > VAT Number]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[general/store_information/merchant_vat_number]]></xml_config_path>
                    <default_config_value><![CDATA[]]></default_config_value>
                </store_info_vatnumber>
                <store_info_name>
                    <disabled>0</disabled>
                    <name><![CDATA[Store Information Name]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > General > Store Information > Store Name]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[general/store_information/name]]></xml_config_path>
                    <default_config_value><![CDATA[]]></default_config_value>
                </store_info_name>
            </checkers>
        </webgriffe_golive>
    </default>
</config>