<?xml version="1.0"?>
<config>
    <modules>
        <Webgriffe_Golive>
            <version>0.3.4</version>
        </Webgriffe_Golive>
    </modules>
    <global>
        <helpers>
            <webgriffe_golive>
                <class>Webgriffe_Golive_Helper</class>
            </webgriffe_golive>
        </helpers>
        <models>
            <webgriffe_golive>
                <class>Webgriffe_Golive_Model</class>
            </webgriffe_golive>
        </models>
    </global>
    <default>
        <dev>
            <log>
                <webgriffe_golive_active>1</webgriffe_golive_active>
            </log>
        </dev>
        <webgriffe_golive>
            <checkers>
                <config_general_web_unsecure_base_url>
                    <disabled>0</disabled>
                    <name><![CDATA[Unsecure Base URL]]></name>
                    <description><![CDATA[]]></description>
                    <default_severity>error</default_severity>
                    <class>webgriffe_golive/checker_config_unsecureBaseUrl</class>
                </config_general_web_unsecure_base_url>
                <config_general_web_secure_base_url>
                    <disabled>0</disabled>
                    <name><![CDATA[Secure Base URL]]></name>
                    <description><![CDATA[]]></description>
                    <default_severity>error</default_severity>
                    <class>webgriffe_golive/checker_config_secureBaseUrl</class>
                </config_general_web_secure_base_url>
                <design_root_favicon>
                    <disabled>0</disabled>
                    <name><![CDATA[Root Favicon]]></name>
                    <description><![CDATA[Root Favicon on File System]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_design_rootFavicon</class>
                    <!--
                        Value calculated on Magento v 1.8.1.0;
                        it's recommended to update value on different version.
                        To obtain the md5sum of a file, run the command:
                        $ md5sum <filename>
                     -->
                    <md5sum><![CDATA[88733ee53676a47fc354a61c32516e82]]></md5sum>
                </design_root_favicon>
                <design_theme_favicon>
                    <disabled>0</disabled>
                    <name><![CDATA[Theme Favicon]]></name>
                    <description><![CDATA[Theme Favicon on File System]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_design_themeFavicon</class>
                    <!--
                        Value calculated on Magento v 1.8.1.0;
                        it's recommended to update value on different version.
                        To obtain the md5sum of a file, run the command:
                        $ md5sum <filename>
                     -->
                    <md5sum><![CDATA[88733ee53676a47fc354a61c32516e82]]></md5sum>
                </design_theme_favicon>
                <html_head_default_title>
                    <disabled>0</disabled>
                    <name><![CDATA[HTML Head Default Title]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Design > HTML Head > Default Title]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[design/head/default_title]]></xml_config_path>
                    <default_config_value><![CDATA[Magento Commerce]]></default_config_value>
                </html_head_default_title>
                <html_head_default_description>
                    <disabled>0</disabled>
                    <name><![CDATA[HTML Head Default Description]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Design > HTML Head > Default Description]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[design/head/default_description]]></xml_config_path>
                    <default_config_value><![CDATA[Default Description]]></default_config_value>
                </html_head_default_description>
                <html_head_default_keywords>
                    <disabled>0</disabled>
                    <name><![CDATA[HTML Head Default Keywords]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Design > HTML Head > Default Keywords]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[design/head/default_keywords]]></xml_config_path>
                    <default_config_value><![CDATA[Magento, Varien, E-commerce]]></default_config_value>
                </html_head_default_keywords>
                <html_head_default_robots>
                    <disabled>0</disabled>
                    <name><![CDATA[HTML Head Default Robots]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Design > HTML Head > Default Robots]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[design/head/default_robots]]></xml_config_path>
                    <default_config_value><![CDATA[INDEX,FOLLOW]]></default_config_value>
                    <fault_operand>neq</fault_operand>
                </html_head_default_robots>
                <html_head_demo_notice>
                    <disabled>0</disabled>
                    <name><![CDATA[HTML Head Demo Notice]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Design > HTML Head > Display Demo Store Notice]]></description>
                    <default_severity>error</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[design/head/demonotice]]></xml_config_path>
                    <default_config_value><![CDATA[1]]></default_config_value>
                </html_head_demo_notice>
                <header_logo_img_alt>
                    <disabled>0</disabled>
                    <name><![CDATA[Header Logo Image Alternate Text]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Design > Header > Logo Image Alt]]></description>
                    <default_severity>error</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[design/header/logo_alt]]></xml_config_path>
                    <default_config_value><![CDATA[Magento Commerce]]></default_config_value>
                </header_logo_img_alt>
                <header_welcome_text>
                    <disabled>0</disabled>
                    <name><![CDATA[Header Welcome Text]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Design > Header > Welcome Text]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[design/header/welcome]]></xml_config_path>
                    <default_config_value><![CDATA[Default welcome msg!]]></default_config_value>
                </header_welcome_text>
                <footer_copyright>
                    <disabled>0</disabled>
                    <name><![CDATA[Footer Copyright]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Design > Footer > Copyright]]></description>
                    <default_severity>error</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[design/footer/copyright]]></xml_config_path>
                    <default_config_value><![CDATA[&copy; 2013 Magento Demo Store. All Rights Reserved.]]></default_config_value>
                </footer_copyright>
                <design_image_placeholder>
                    <disabled>0</disabled>
                    <name><![CDATA[Image Placeholder]]></name>
                    <description><![CDATA[Image Placeholder on File System]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_design_imagePlaceholder</class>
                    <!--
                        Value calculated on Magento v 1.8.1.0;
                        it's recommended to update value on different version.
                        To obtain the md5sum of a file, run the command:
                        $ md5sum <filename>
                     -->
                    <md5sum><![CDATA[097ab8a3051bc037ea3de0e17f440540]]></md5sum>
                </design_image_placeholder>
                <design_smallimage_placeholder>
                    <disabled>0</disabled>
                    <name><![CDATA[Small Image Placeholder]]></name>
                    <description><![CDATA[Small Image Placeholder on File System]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_design_smallimagePlaceholder</class>
                    <!--
                        Value calculated on Magento v 1.8.1.0;
                        it's recommended to update value on different version.
                        To obtain the md5sum of a file, run the command:
                        $ md5sum <filename>
                     -->
                    <md5sum><![CDATA[f825d16f97a640453553c79c48ebaa73]]></md5sum>
                </design_smallimage_placeholder>
                <design_thumbnail_placeholder>
                    <disabled>0</disabled>
                    <name><![CDATA[Thumbnail Placeholder]]></name>
                    <description><![CDATA[Thumbnail Placeholder on File System]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_design_thumbnailPlaceholder</class>
                    <!--
                        Value calculated on Magento v 1.8.1.0;
                        it's recommended to update value on different version.
                        To obtain the md5sum of a file, run the command:
                        $ md5sum <filename>
                     -->
                    <md5sum><![CDATA[b2b682d28a08a748a73d2cda70ab5a57]]></md5sum>
                </design_thumbnail_placeholder>
                <store_info_address>
                    <disabled>0</disabled>
                    <name><![CDATA[Store Information Contact Address]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > General > Store Information > Store Contact Address]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[general/store_information/address]]></xml_config_path>
                    <default_config_value><![CDATA[]]></default_config_value>
                </store_info_address>
                <store_info_country>
                    <disabled>0</disabled>
                    <name><![CDATA[Store Information Country]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > General > Store Information > Country]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[general/store_information/merchant_country]]></xml_config_path>
                    <default_config_value><![CDATA[]]></default_config_value>
                </store_info_country>
                <store_info_vatnumber>
                    <disabled>0</disabled>
                    <name><![CDATA[Store Information VAT Number]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > General > Store Information > VAT Number]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[general/store_information/merchant_vat_number]]></xml_config_path>
                    <default_config_value><![CDATA[]]></default_config_value>
                </store_info_vatnumber>
                <store_info_name>
                    <disabled>0</disabled>
                    <name><![CDATA[Store Information Name]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > General > Store Information > Store Name]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[general/store_information/name]]></xml_config_path>
                    <default_config_value><![CDATA[]]></default_config_value>
                </store_info_name>
                <store_info_phone>
                    <disabled>0</disabled>
                    <name><![CDATA[Store Information Phone]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > General > Store Information > Store Contact Telephone]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[general/store_information/phone]]></xml_config_path>
                    <default_config_value><![CDATA[]]></default_config_value>
                </store_info_phone>
                <cookie_lifetime>
                    <disabled>0</disabled>
                    <name><![CDATA[Cookie Lifetime]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Web > Session Cookie Management > Cookie Lifetime]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[web/cookie/cookie_lifetime]]></xml_config_path>
                    <fault_operand>neq</fault_operand>
                    <default_config_value><![CDATA[3600]]></default_config_value>
                </cookie_lifetime>
                <design_theme_logo>
                    <disabled>0</disabled>
                    <name><![CDATA[Theme Logo]]></name>
                    <description><![CDATA[Theme Logo on File System]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_design_themeLogo</class>
                    <!--
                        Value calculated on Magento v 1.8.1.0;
                        it's recommended to update value on different version.
                        To obtain the md5sum of a file, run the command:
                        $ md5sum <filename>
                     -->
                    <md5sum><![CDATA[48b7eb03807fdf80bdfb19b872cf84b8]]></md5sum>
                </design_theme_logo>
                <design_theme_logoemail>
                    <disabled>0</disabled>
                    <name><![CDATA[Theme Email Logo]]></name>
                    <description><![CDATA[Theme Email Logo on File System]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_design_themeLogoemail</class>
                    <!--
                        Value calculated on Magento v 1.8.1.0;
                        it's recommended to update value on different version.
                        To obtain the md5sum of a file, run the command:
                        $ md5sum <filename>
                     -->
                    <md5sum><![CDATA[8de347192e0524cff7a69e4020182dbd]]></md5sum>
                </design_theme_logoemail>
                <design_theme_logoprint>
                    <disabled>0</disabled>
                    <name><![CDATA[Theme Print Logo]]></name>
                    <description><![CDATA[Theme Print Logo on File System]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_design_themeLogoprint</class>
                    <!--
                        Value calculated on Magento v 1.8.1.0;
                        it's recommended to update value on different version.
                        To obtain the md5sum of a file, run the command:
                        $ md5sum <filename>
                     -->
                    <md5sum><![CDATA[8de347192e0524cff7a69e4020182dbd]]></md5sum>
                </design_theme_logoprint>
                <store_email_general_name>
                    <disabled>0</disabled>
                    <name><![CDATA[Store Email General Sender Name]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Store Email Addresses > General Contact > Sender Name]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[trans_email/ident_general/name]]></xml_config_path>
                    <default_config_value><![CDATA[Owner]]></default_config_value>
                </store_email_general_name>
                <store_email_general_sender>
                    <disabled>0</disabled>
                    <name><![CDATA[Store Email General Sender Address]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Store Email Addresses > General Contact > Sender Email]]></description>
                    <default_severity>error</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[trans_email/ident_general/email]]></xml_config_path>
                    <default_config_value><![CDATA[owner@example.com]]></default_config_value>
                </store_email_general_sender>
                <store_email_sales_name>
                    <disabled>0</disabled>
                    <name><![CDATA[Store Email Sales Representative Sender Name]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Store Email Addresses > Sales Representative > Sender Name]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[trans_email/ident_sales/name]]></xml_config_path>
                    <default_config_value><![CDATA[Sales]]></default_config_value>
                </store_email_sales_name>
                <store_email_sales_sender>
                    <disabled>0</disabled>
                    <name><![CDATA[Store Email Sales Representative Sender Address]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Store Email Addresses > Sales Representative > Sender Email]]></description>
                    <default_severity>error</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[trans_email/ident_sales/email]]></xml_config_path>
                    <default_config_value><![CDATA[sales@example.com]]></default_config_value>
                </store_email_sales_sender>
                <store_email_support_name>
                    <disabled>0</disabled>
                    <name><![CDATA[Store Email Customer Support Sender Name]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Store Email Addresses > Customer Support > Sender Name]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[trans_email/ident_support/name]]></xml_config_path>
                    <default_config_value><![CDATA[CustomerSupport]]></default_config_value>
                </store_email_support_name>
                <store_email_support_sender>
                    <disabled>0</disabled>
                    <name><![CDATA[Store Email Customer Support Sender Address]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Store Email Addresses > Customer Support > Sender Email]]></description>
                    <default_severity>error</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[trans_email/ident_support/email]]></xml_config_path>
                    <default_config_value><![CDATA[support@example.com]]></default_config_value>
                </store_email_support_sender>
                <store_email_custom1_name>
                    <disabled>0</disabled>
                    <name><![CDATA[Store Email Custom Email 1 Sender Name]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Store Email Addresses > Custom Email 1  > Sender Name]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[trans_email/ident_custom1/name]]></xml_config_path>
                    <default_config_value><![CDATA[Custom 1]]></default_config_value>
                </store_email_custom1_name>
                <store_email_custom1_sender>
                    <disabled>0</disabled>
                    <name><![CDATA[Store Email Custom Email 1 Sender Address]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Store Email Addresses > Custom Email 1 > Sender Email]]></description>
                    <default_severity>error</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[trans_email/ident_custom1/email]]></xml_config_path>
                    <default_config_value><![CDATA[custom1@example.com]]></default_config_value>
                </store_email_custom1_sender>
                <store_email_custom2_name>
                    <disabled>0</disabled>
                    <name><![CDATA[Store Email Custom Email 2 Sender Name]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Store Email Addresses > Custom Email 2  > Sender Name]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[trans_email/ident_custom2/name]]></xml_config_path>
                    <default_config_value><![CDATA[Custom 2]]></default_config_value>
                </store_email_custom2_name>
                <store_email_custom2_sender>
                    <disabled>0</disabled>
                    <name><![CDATA[Store Email Custom Email 2 Sender Address]]></name>
                    <description><![CDATA[System > Configuration > GENERAL > Store Email Addresses > Custom Email 2 > Sender Email]]></description>
                    <default_severity>error</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[trans_email/ident_custom2/email]]></xml_config_path>
                    <default_config_value><![CDATA[custom2@example.com]]></default_config_value>
                </store_email_custom2_sender>
                <shipping_tax_class>
                    <disabled>0</disabled>
                    <name><![CDATA[Shipping Tax Class]]></name>
                    <description><![CDATA[System > Configuration > SALES > Tax > Tax Classes > Tax Class for Shipping]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[tax/classes/shipping_tax_class]]></xml_config_path>
                    <default_config_value><![CDATA[0]]></default_config_value>
                </shipping_tax_class>
                <tax_calculation_destination_country>
                    <disabled>0</disabled>
                    <name><![CDATA[Default Destination Country for Tax Calculation]]></name>
                    <description><![CDATA[System > Configuration > SALES > Tax > Default Tax Destination Calculation > Default Country]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[tax/defaults/country]]></xml_config_path>
                    <default_config_value><![CDATA[US]]></default_config_value>
                </tax_calculation_destination_country>
                <shipping_origin_country>
                    <disabled>0</disabled>
                    <name><![CDATA[Shipping Origin Country]]></name>
                    <description><![CDATA[System > Configuration > SALES > Shipping Settings > Origin > Country]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[shipping/origin/country_id]]></xml_config_path>
                    <default_config_value><![CDATA[US]]></default_config_value>
                </shipping_origin_country>
                <shipping_origin_regionstate>
                    <disabled>0</disabled>
                    <name><![CDATA[Shipping Origin Region/State]]></name>
                    <description><![CDATA[System > Configuration > SALES > Shipping Settings > Origin > Region/State]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[shipping/origin/region_id]]></xml_config_path>
                    <default_config_value><![CDATA[12]]></default_config_value>
                </shipping_origin_regionstate>
                <shipping_origin_postcode>
                    <disabled>0</disabled>
                    <name><![CDATA[Shipping Origin ZIP/Postal Code]]></name>
                    <description><![CDATA[System > Configuration > SALES > Shipping Settings > Origin > ZIP/Postal Code]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[shipping/origin/postcode]]></xml_config_path>
                    <default_config_value><![CDATA[90034]]></default_config_value>
                </shipping_origin_postcode>
                <test_orders>
                    <disabled>0</disabled>
                    <name><![CDATA[Test Orders]]></name>
                    <description><![CDATA[Test Orders]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_entityCollection</class>
                    <entity_type><![CDATA[sales/order]]></entity_type>
                    <fault_operand>neq</fault_operand>
                    <count>0</count>
                </test_orders>
                <test_invoices>
                    <disabled>0</disabled>
                    <name><![CDATA[Test Invoices]]></name>
                    <description><![CDATA[Test Invoices]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_entityCollection</class>
                    <entity_type><![CDATA[sales/order_invoice]]></entity_type>
                    <fault_operand>neq</fault_operand>
                    <count>0</count>
                </test_invoices>
                <test_shipments>
                    <disabled>0</disabled>
                    <name><![CDATA[Test Shipments]]></name>
                    <description><![CDATA[Test Shipments]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_entityCollection</class>
                    <entity_type><![CDATA[sales/order_shipment]]></entity_type>
                    <fault_operand>neq</fault_operand>
                    <count>0</count>
                </test_shipments>
                <test_creditmemos>
                    <disabled>0</disabled>
                    <name><![CDATA[Test Credimemos]]></name>
                    <description><![CDATA[Test Creditmemos]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_entityCollection</class>
                    <entity_type><![CDATA[sales/order_creditmemo]]></entity_type>
                    <fault_operand>neq</fault_operand>
                    <count>0</count>
                </test_creditmemos>
                <test_payments>
                    <disabled>0</disabled>
                    <name><![CDATA[Test Payments]]></name>
                    <description><![CDATA[Test Payments]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_entityCollection</class>
                    <entity_type><![CDATA[sales/order_payment]]></entity_type>
                    <fault_operand>neq</fault_operand>
                    <count>0</count>
                </test_payments>
                <test_transactions>
                    <disabled>0</disabled>
                    <name><![CDATA[Test Transactions]]></name>
                    <description><![CDATA[Test Transactions]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_entityCollection</class>
                    <entity_type><![CDATA[sales/order_payment_transaction]]></entity_type>
                    <fault_operand>neq</fault_operand>
                    <count>0</count>
                </test_transactions>
                <test_customers>
                    <disabled>0</disabled>
                    <name><![CDATA[Test Customers]]></name>
                    <description><![CDATA[Test Customers]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_entityCollection</class>
                    <entity_type><![CDATA[customer/customer]]></entity_type>
                    <fault_operand>neq</fault_operand>
                    <count>0</count>
                </test_customers>
                <test_customeraddresses>
                    <disabled>0</disabled>
                    <name><![CDATA[Test Customer Addresses]]></name>
                    <description><![CDATA[Test Customer Addresses]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_entityCollection</class>
                    <entity_type><![CDATA[customer/address]]></entity_type>
                    <fault_operand>neq</fault_operand>
                    <count>0</count>
                </test_customeraddresses>
                <indexstatus_catalog_product_attribute>
                    <disabled>0</disabled>
                    <name><![CDATA[Catalog Product Attribute Index]]></name>
                    <description><![CDATA[Catalog Product Attribute Index]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_indexStatus</class>
                    <process_code><![CDATA[catalog_product_attribute]]></process_code>
                </indexstatus_catalog_product_attribute>
                <indexstatus_catalog_product_price>
                    <disabled>0</disabled>
                    <name><![CDATA[Catalog Product Price Index]]></name>
                    <description><![CDATA[Catalog Product Price Index]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_indexStatus</class>
                    <process_code><![CDATA[catalog_product_price]]></process_code>
                </indexstatus_catalog_product_price>
                <indexstatus_catalog_url>
                    <disabled>0</disabled>
                    <name><![CDATA[Catalog URL Index]]></name>
                    <description><![CDATA[Catalog URL Index]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_indexStatus</class>
                    <process_code><![CDATA[catalog_url]]></process_code>
                </indexstatus_catalog_url>
                <indexstatus_catalog_product_flat>
                    <disabled>0</disabled>
                    <name><![CDATA[Catalog Product Flat Index]]></name>
                    <description><![CDATA[Catalog Product Flat Index]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_indexStatus</class>
                    <process_code><![CDATA[catalog_product_flat]]></process_code>
                </indexstatus_catalog_product_flat>
                <indexstatus_catalog_category_flat>
                    <disabled>0</disabled>
                    <name><![CDATA[Catalog Category Flat Index]]></name>
                    <description><![CDATA[Catalog Category Flat Index]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_indexStatus</class>
                    <process_code><![CDATA[catalog_category_flat]]></process_code>
                </indexstatus_catalog_category_flat>
                <indexstatus_catalog_category_product>
                    <disabled>0</disabled>
                    <name><![CDATA[Catalog Category Product Index]]></name>
                    <description><![CDATA[Catalog Category Product Index]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_indexStatus</class>
                    <process_code><![CDATA[catalog_category_product]]></process_code>
                </indexstatus_catalog_category_product>
                <indexstatus_catalogsearch_fulltext>
                    <disabled>0</disabled>
                    <name><![CDATA[Catalog Search Fulltext Index]]></name>
                    <description><![CDATA[Catalog Search Fulltext Index]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_indexStatus</class>
                    <process_code><![CDATA[catalogsearch_fulltext]]></process_code>
                </indexstatus_catalogsearch_fulltext>
                <indexstatus_cataloginventory_stock>
                    <disabled>0</disabled>
                    <name><![CDATA[Catalog Inventory Stock Index]]></name>
                    <description><![CDATA[Catalog Inventory Stock Index]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_indexStatus</class>
                    <process_code><![CDATA[cataloginventory_stock]]></process_code>
                </indexstatus_cataloginventory_stock>
                <indexstatus_tag_summary>
                    <disabled>0</disabled>
                    <name><![CDATA[Tag Summary Index]]></name>
                    <description><![CDATA[Tag Summary Index]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_indexStatus</class>
                    <process_code><![CDATA[tag_summary]]></process_code>
                </indexstatus_tag_summary>
                <cache_enabled_block_html>
                    <disabled>0</disabled>
                    <name><![CDATA[Block Html Cache]]></name>
                    <description><![CDATA[Block Html Cache]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_cacheEnabled</class>
                    <cache_type><![CDATA[block_html]]></cache_type>
                </cache_enabled_block_html>
                <cache_enabled_collections>
                    <disabled>0</disabled>
                    <name><![CDATA[Collections Cache]]></name>
                    <description><![CDATA[Collections Cache]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_cacheEnabled</class>
                    <cache_type><![CDATA[collections]]></cache_type>
                </cache_enabled_collections>
                <cache_enabled_config>
                    <disabled>0</disabled>
                    <name><![CDATA[Config Cache]]></name>
                    <description><![CDATA[Config Cache]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_cacheEnabled</class>
                    <cache_type><![CDATA[config]]></cache_type>
                </cache_enabled_config>
                <cache_enabled_config_api>
                    <disabled>0</disabled>
                    <name><![CDATA[Config API Cache]]></name>
                    <description><![CDATA[Config API Cache]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_cacheEnabled</class>
                    <cache_type><![CDATA[config_api]]></cache_type>
                </cache_enabled_config_api>
                <cache_enabled_eav>
                    <disabled>0</disabled>
                    <name><![CDATA[EAV Cache]]></name>
                    <description><![CDATA[EAV Cache]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_cacheEnabled</class>
                    <cache_type><![CDATA[eav]]></cache_type>
                </cache_enabled_eav>
                <cache_enabled_layout>
                    <disabled>0</disabled>
                    <name><![CDATA[Layout Cache]]></name>
                    <description><![CDATA[Layout Cache]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_cacheEnabled</class>
                    <cache_type><![CDATA[layout]]></cache_type>
                </cache_enabled_layout>
                <cache_enabled_translate>
                    <disabled>0</disabled>
                    <name><![CDATA[Translate Cache]]></name>
                    <description><![CDATA[Translate Cache]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_cacheEnabled</class>
                    <cache_type><![CDATA[translate]]></cache_type>
                </cache_enabled_translate>
                <google_analytics_activated>
                    <disabled>0</disabled>
                    <name><![CDATA[Google Analytics Activated]]></name>
                    <description><![CDATA[System > Configuration > SALES > Google API > Google Analytics > Enable]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[google/analytics/active]]></xml_config_path>
                    <default_config_value><![CDATA[0]]></default_config_value>
                </google_analytics_activated>
                <google_analytics_accountnumber>
                    <disabled>0</disabled>
                    <depends>
                        <google_analytics_activated>passed</google_analytics_activated>
                    </depends>
                    <name><![CDATA[Google Analytics Account Number]]></name>
                    <description><![CDATA[If GA is enabled, an Account Number should be configured]]></description>
                    <default_severity>error</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path>google/analytics/account</xml_config_path>
                    <default_config_value><![CDATA[]]></default_config_value>
                </google_analytics_accountnumber>
                <sitemap>
                    <disabled>0</disabled>
                    <name><![CDATA[Sitemap]]></name>
                    <description><![CDATA[Sitemap]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_data_entityCollection</class>
                    <entity_type><![CDATA[sitemap/sitemap]]></entity_type>
                    <fault_operand>eq</fault_operand>
                    <count>0</count>
                </sitemap>
                <logclean>
                    <disabled>0</disabled>
                    <name><![CDATA[Log Cleaning]]></name>
                    <description><![CDATA[System > Configuration > ADVANCED > System > Log Cleaning > Enable Log Cleaning]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[system/log/enabled]]></xml_config_path>
                    <default_config_value><![CDATA[0]]></default_config_value>
                </logclean>
                <logclean_erroremail>
                    <disabled>0</disabled>
                    <name><![CDATA[Error Email Recipient]]></name>
                    <description><![CDATA[System > Configuration > ADVANCED > System > Log Cleaning > Error Email Recipient]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[system/log/error_email]]></xml_config_path>
                    <default_config_value><![CDATA[]]></default_config_value>
                </logclean_erroremail>
                <email_communications>
                    <disabled>0</disabled>
                    <name><![CDATA[Email Communications]]></name>
                    <description><![CDATA[System > Configuration > ADVANCED > System > Mail Sending Settings > Disable Email Communications]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[system/smtp/disable]]></xml_config_path>
                    <default_config_value><![CDATA[1]]></default_config_value>
                </email_communications>
                <dev_log>
                    <disabled>0</disabled>
                    <name><![CDATA[Log Enabled]]></name>
                    <description><![CDATA[System > Configuration > ADVANCED > Developer > Log Settings > Enabled]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[dev/log/active]]></xml_config_path>
                    <default_config_value><![CDATA[1]]></default_config_value>
                </dev_log>
                <dev_profiler>
                    <disabled>0</disabled>
                    <name><![CDATA[Profiler Enabled]]></name>
                    <description><![CDATA[System > Configuration > ADVANCED > Developer > Debug > Profiler]]></description>
                    <default_severity>warning</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[dev/debug/profiler]]></xml_config_path>
                    <default_config_value><![CDATA[1]]></default_config_value>
                </dev_profiler>
                <dev_template_hints>
                    <disabled>0</disabled>
                    <name><![CDATA[Template Path Hints]]></name>
                    <description><![CDATA[System > Configuration > ADVANCED > Developer > Debug > Template Path Hints]]></description>
                    <default_severity>error</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[dev/debug/template_hints]]></xml_config_path>
                    <default_config_value><![CDATA[1]]></default_config_value>
                </dev_template_hints>
                <dev_translate_inline_frontend>
                    <disabled>0</disabled>
                    <name><![CDATA[Translate Inline Frontend]]></name>
                    <description><![CDATA[System > Configuration > ADVANCED > Developer > Translate Inline > Enabled for Frontend]]></description>
                    <default_severity>error</default_severity>
                    <class>webgriffe_golive/checker_config_defaultValue</class>
                    <xml_config_path><![CDATA[dev/translate_inline/active]]></xml_config_path>
                    <default_config_value><![CDATA[1]]></default_config_value>
                </dev_translate_inline_frontend>
            </checkers>
        </webgriffe_golive>
    </default>
</config>